# PLIK POMOCNICZY DO RAPORTU

In [11]:
import fun_to_raport as ftr
import pandas as pd
from joblib import load, dump
import warnings
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.offline as py
import plotly
plotly.offline.init_notebook_mode(connected=True)
warnings.filterwarnings('ignore')

In [47]:
# IMPORTUJEMY WSZYSTKIE ZBIORY:
df1 = pd.read_pickle("1gram.pkl")
df12 = pd.read_pickle("12gram.pkl")
df123 = pd.read_csv("123gram.csv")
df12345 = pd.read_csv("12345gram.csv")
df12345p = pd.read_csv("12345gram_pos.csv")
dfp = pd.read_pickle("pos.pkl")
df_tfidf = pd.read_pickle("X_tfidf.pkl")

In [2]:
df1 = pd.read_pickle("1gram.pkl")

#### Wszystkimi zmiennymi objaśnanianymi będziemy nazywać zbiór countries:

In [3]:
countries = ['China', 'France', 'Germany', 'Italy', 'Japan', 'Poland', 'Russia',
       'Spain', 'Turkey', 'UK', 'USA', 'Vietnam']

#### Zbudujemy także model dla najliczniejszych zmiennych

In [9]:
countries_ = ['China', 'UK', 'USA']

### 2)  Sieci neuronowe <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi są pojedyncze wyrazy

In [3]:
df1 = ftr._label_to_country(df1)
y_test, y_pred = ftr.nn_model(df1, 0.7,'/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod1_nn')
ftr.confu_matrix_for_categories(df1, y_test, y_pred)

,China,France,Germany,Italy,Japan,Poland,Russia,Spain,Turkey,UK,USA,Vietnam
China,532,12,3,21,21,8,17,4,25,13,35,19
France,17,105,5,21,15,16,24,29,18,16,31,10
Germany,9,10,74,10,12,12,16,26,4,18,48,7
Italy,4,26,4,89,7,13,13,24,11,13,16,13
Japan,37,6,11,10,67,10,21,3,28,24,29,10
Poland,25,4,9,14,15,46,65,14,20,29,28,11
Russia,15,7,8,12,7,15,242,8,17,11,28,11
Spain,12,23,6,20,2,16,8,212,21,30,13,22
Turkey,39,1,7,16,9,16,19,12,118,23,16,19
UK,7,8,20,8,4,16,21,20,13,291,109,14
USA,29,11,29,13,5,16,28,12,23,86,377,7
Vietnam,33,8,8,13,11,8,1,5,24,20,5,89

In [4]:
ftr.accuracy_and_f1(y_test, y_pred)

Accuracy w modelu: 0.5
F1 score w modelu: 0.44

### 3) Lasy losowe <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi są pojedyncze wyrazy

In [4]:
df1 = ftr._label_to_country(df1)
y_test, y_pred = ftr.rf_model(df1, 0.7,'/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod1_rf')
ftr.confu_matrix_for_categories(df1, y_test, y_pred)

,China,France,Germany,Italy,Japan,Poland,Russia,Spain,Turkey,UK,USA,Vietnam
China,658,0,0,0,0,5,9,3,3,5,27,0
France,39,184,0,2,0,2,23,18,2,7,30,0
Germany,36,3,34,0,0,0,22,18,0,34,99,0
Italy,31,22,1,39,0,0,27,39,6,19,49,0
Japan,135,0,2,0,4,2,33,2,9,5,64,0
Poland,85,6,2,1,0,6,65,33,3,24,55,0
Russia,30,4,0,3,0,1,275,5,1,12,50,0
Spain,37,1,0,0,0,0,8,319,1,6,13,0
Turkey,94,3,0,0,0,0,14,23,119,9,33,0
UK,39,0,1,1,0,0,27,2,2,348,111,0
USA,43,0,1,3,0,2,25,2,5,12,543,0
Vietnam,146,2,1,0,0,0,13,2,4,1,23,33

In [5]:
ftr.accuracy_and_f1(y_test, y_pred)

Accuracy w modelu: 0.57
F1 score w modelu: 0.45

### 4) Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi są pojedyncze wyrazy

In [48]:
df1 = ftr._label_to_country(df1)
y_test, y_pred = ftr.log_model(df1, 0.7,'/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod1')
ftr.confu_matrix_for_categories(df1, y_test, y_pred)

,China,France,Germany,Italy,Japan,Poland,Russia,Spain,Turkey,UK,USA,Vietnam
China,210,0,0,0,0,0,2,0,2,2,1,0
France,0,74,1,0,0,0,1,3,1,0,4,1
Germany,3,0,47,1,0,0,3,3,0,3,4,0
Italy,1,1,0,49,2,0,4,1,0,0,2,0
Japan,7,1,0,0,48,1,2,1,3,3,6,0
Poland,0,0,0,3,0,56,11,1,1,3,4,0
Russia,1,0,2,0,2,3,104,1,1,0,3,1
Spain,0,0,0,1,0,0,1,105,0,2,1,0
Turkey,2,2,1,0,1,0,5,2,63,5,3,0
UK,1,5,3,0,0,3,2,2,3,103,5,0
USA,4,2,1,0,3,0,8,0,7,16,149,0
Vietnam,10,2,2,1,2,1,1,1,2,1,1,52

In [49]:
ftr.accuracy_and_f1(y_test, y_pred)

Accuracy w modelu: 0.83
F1 score w modelu: 0.81

In [50]:
mod = load("mod1.joblib")
ftr.print_coef_for_predict(mod,df1.drop('_country',axis=1).columns, [9], 10)

              value
epsrc      0.297673
whilst     0.256881
centre     0.125131
within     0.123856
utilise    0.117959
recognise  0.115557
underpin   0.111722
summarise  0.109470
favour     0.105520
maximise   0.101103

### 5) Regresja logistyczna <br>
1) Zbudowane na zblilansowanym zbiorze dla wszystkim zmiennych objaśnianych<br>
2) Zmiennymi objaśniającymi są pojedyncze wyrazy

In [4]:
df1 = ftr._label_to_country(df1)
df1 = ftr.get_balanced(df1, countries, 300)

In [6]:
y_test, y_pred = ftr.log_model(df1, 0.7,'/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod1_bal')
ftr.confu_matrix_for_categories(df1, y_test, y_pred)

,China,France,Germany,Italy,Japan,Poland,Russia,Spain,Turkey,UK,USA,Vietnam
China,152,3,2,1,12,1,15,2,4,0,4,13
France,4,138,8,22,3,3,7,5,5,8,2,4
Germany,3,5,132,10,9,6,10,5,8,6,14,6
Italy,3,6,5,145,10,1,14,7,6,5,6,3
Japan,21,5,11,8,112,2,14,1,13,2,15,5
Poland,1,4,9,10,6,104,53,5,7,6,9,3
Russia,6,3,4,2,2,4,170,2,0,1,5,3
Spain,2,12,2,10,1,5,4,160,4,3,9,3
Turkey,14,4,6,7,8,6,16,9,115,4,9,11
UK,1,8,8,1,4,2,10,1,5,152,11,2
USA,8,8,8,4,8,1,15,2,5,30,117,0
Vietnam,11,4,7,3,13,0,12,3,10,2,6,143

In [7]:
ftr.confu_matrix_for_categories(df1, y_test, y_pred)
ftr.accuracy_and_f1(y_test, y_pred)

Accuracy w modelu: 0.65
F1 score w modelu: 0.65


### 6) Regresja logistyczna <br>
1) Zbudowane na zbilansowanym zbiorze dla 3 zmiennych <br>
2) Zmiennymi objaśniającymi są pojedyncze wyrazy

In [12]:
df1 = ftr._label_to_country(df1)
df1 = ftr.get_balanced(df1, countries_, 742)

In [13]:
y_test, y_pred = ftr.log_model(df1, 0.7,'/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod1_bal3')
ftr.confu_matrix_for_categories(df1, y_test, y_pred)

       China   UK  USA
China    503    2   15
UK        37  411   65
USA       43   48  435

In [14]:
ftr.accuracy_and_f1(y_test, y_pred)

Accuracy w modelu: 0.87
F1 score w modelu: 0.86

In [16]:
mod = load('/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod1_bal3.joblib')
ftr.print_coef_for_predict(mod,df1.drop('_country',axis=1).columns, [0], 10)

                  value
mainly         0.099552
foundation     0.088534
propose        0.080732
respectively   0.080457
accord         0.078388
nos            0.077842
besides        0.073496
republication  0.070516
iorg           0.066286
academy        0.064647

### 7) Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) TF IDF

In [33]:
df_tfidf=ftr._label_to_country(df_tfidf)

In [35]:
y_test, y_pred = ftr.log_model(df_tfidf, 0.7,'/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod7')

In [38]:
ftr.confu_matrix_for_categories(df_tfidf, y_test, y_pred)
ftr.accuracy_and_f1(y_test, y_pred)

Accuracy w modelu: 0.71
F1 score w modelu: 0.67

In [43]:
mod = load('/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod7.joblib')
ftr.print_coef_for_predict(mod,df_tfidf.drop('_country',axis=1).columns, [9], 10)

                 value
whilst        0.186146
summarise     0.127330
within        0.124611
centre        0.110979
recognise     0.108490
characterise  0.107014
little        0.106400
although      0.090787
unlikely      0.088571
programme     0.087677

### 8) Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) POSY

In [30]:
dfp.drop("country", axis=1).to_pickle("pos.pkl")

In [32]:
y_test, y_pred = ftr.log_model(dfp, 0.7,'/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/modp')
ftr.confu_matrix_for_categories(dfp, y_test, y_pred)

,China,France,Germany,Italy,Japan,Poland,Russia,Spain,Turkey,UK,USA,Vietnam
China,664,0,1,1,1,0,1,0,3,2,29,3
France,13,210,4,7,5,2,7,16,9,8,24,2
Germany,9,10,149,5,2,4,9,5,7,20,25,1
Italy,3,8,4,173,1,1,12,16,1,1,11,2
Japan,12,6,5,2,137,5,19,2,15,12,40,1
Poland,0,4,1,4,1,174,58,5,8,3,20,2
Russia,8,6,2,2,1,4,335,0,9,4,11,2
Spain,2,16,2,4,2,2,4,339,2,3,8,1
Turkey,8,8,7,3,2,1,4,4,235,1,20,2
UK,12,7,10,3,2,12,17,3,8,346,109,2
USA,19,4,8,5,3,1,10,1,11,81,489,4
Vietnam,23,0,2,3,2,0,6,4,13,2,16,156

In [33]:
ftr.confu_matrix_for_categories(dfp, y_test, y_pred)
ftr.accuracy_and_f1(y_test, y_pred)

Accuracy w modelu: 0.76
F1 score w modelu: 0.75

In [34]:
mod = load('/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/modp.joblib')
ftr.print_coef_for_predict(mod,dfp.drop('_country',axis=1).columns, [9], 10)

                  value
_CC_IN_JJ      0.133714
_IN_DT_VB      0.123128
_RB_VB_NN_IN   0.113269
_VB_IN_PRP_VB  0.103546
_CC_DT_VB      0.103479
_NNS_IN_WDT    0.097668
_TO_WP         0.081954
_WDT_VBP_VB    0.081404
_TO_VB_VB      0.081047
_TO_TO         0.079761

### 9) Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi sa 1 gramy i 2 gramy

In [58]:
df12=ftr._label_to_country(df12)
y_test, y_pred = ftr.log_model(df12, 0.7,'/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod12')
ftr.confu_matrix_for_categories(df12, y_test, y_pred)

,China,France,Germany,Italy,Japan,Poland,Russia,Spain,Turkey,UK,USA,Vietnam
China,673,0,1,0,2,0,12,0,3,2,12,0
France,5,261,3,5,4,0,4,5,2,3,11,4
Germany,4,5,185,4,4,5,5,8,2,8,14,2
Italy,0,7,6,193,4,0,9,4,4,0,5,1
Japan,11,1,12,3,180,3,17,0,9,5,11,4
Poland,2,3,5,6,0,181,65,2,2,3,9,2
Russia,0,2,2,1,1,4,368,1,2,1,1,1
Spain,1,4,4,4,3,3,0,358,2,1,5,0
Turkey,4,2,4,1,2,2,7,0,262,2,6,3
UK,8,1,9,2,1,3,10,3,15,433,44,2
USA,16,4,15,1,5,2,16,2,16,57,497,5
Vietnam,24,1,1,4,6,4,7,0,12,4,3,161

In [59]:
ftr.accuracy_and_f1(y_test, y_pred)

Accuracy w modelu: 0.84
F1 score w modelu: 0.82

In [61]:
mod = load('/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod12.joblib')
ftr.print_coef_for_predict(mod,df12.drop('_country',axis=1).columns, [9], 10)

                 value
epsrc         0.077259
whilst        0.065126
emphasise     0.046730
these be      0.046459
centre        0.046041
summarise     0.040600
little        0.035365
recognise     0.034237
characterise  0.034028
underpin      0.033264

### 10) Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi sa 1 gramy i 2 gramy i 3 gramy

In [5]:
y_test, y_pred = ftr.log_model(df123, 0.7,'/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod123')
ftr.confu_matrix_for_categories(df123, y_test, y_pred)

,China,France,Germany,Italy,Japan,Poland,Russia,Spain,Turkey,UK,USA,Vietnam
China,680,0,0,0,2,0,7,0,3,0,12,1
France,5,270,2,3,4,0,2,4,2,2,12,1
Germany,8,4,206,2,2,2,2,4,1,4,10,1
Italy,0,0,3,220,3,0,4,0,1,0,1,1
Japan,2,1,10,1,215,5,7,0,4,2,9,0
Poland,2,2,2,3,0,228,35,0,0,1,6,1
Russia,1,2,0,0,1,2,374,1,1,0,2,0
Spain,0,3,0,2,1,1,0,377,0,0,1,0
Turkey,2,2,4,0,0,0,5,0,276,1,3,2
UK,13,4,9,2,1,7,5,1,11,440,38,0
USA,10,3,14,1,3,0,7,1,14,34,547,2
Vietnam,10,0,0,0,2,2,5,2,10,2,1,193

In [6]:
ftr.accuracy_and_f1(y_test, y_pred)

Accuracy w modelu: 0.9
F1 score w modelu: 0.9

In [7]:
mod = load('/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod123.joblib')
ftr.print_coef_for_predict(mod,df123.drop('_country',axis=1).columns, [9], 10)

                 value
epsrc         0.048993
whilst        0.041929
centre        0.030108
emphasise     0.029765
these be      0.029558
to give the   0.029266
in the uk     0.026566
summarise     0.026534
these can be  0.024112
little        0.023673

### 11) Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi sa 1 gramy i 2 gramy i 3 gramy i 4 gramy i 5 gramy

In [9]:
y_test, y_pred = ftr.log_model(df12345, 0.7,'/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod12345')
ftr.confu_matrix_for_categories(df12345, y_test, y_pred)

,China,France,Germany,Italy,Japan,Poland,Russia,Spain,Turkey,UK,USA,Vietnam
China,679,0,0,0,2,0,5,0,3,0,15,1
France,6,273,1,3,4,0,2,4,2,0,11,1
Germany,8,5,210,1,1,1,2,3,1,3,10,1
Italy,0,0,3,218,2,1,4,2,1,0,1,1
Japan,1,1,9,1,214,5,5,0,4,2,14,0
Poland,2,2,4,2,1,224,35,0,1,1,7,1
Russia,1,2,0,0,1,2,371,1,1,0,5,0
Spain,0,5,0,2,1,1,0,376,0,0,0,0
Turkey,2,3,4,0,1,0,1,0,280,0,3,1
UK,7,5,12,2,1,8,4,1,13,439,39,0
USA,9,2,16,1,2,0,6,1,13,38,546,2
Vietnam,9,0,1,1,1,2,3,2,9,1,3,195

In [10]:
ftr.accuracy_and_f1(y_test, y_pred)

Accuracy w modelu: 0.9
F1 score w modelu: 0.9

In [11]:
mod = load('/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod12345.joblib')
ftr.print_coef_for_predict(mod,df12345.drop('_country',axis=1).columns, [9], 10)

                 value
epsrc         0.045549
whilst        0.039257
centre        0.028189
these be      0.028057
emphasise     0.027985
to give the   0.027016
in the uk     0.024992
summarise     0.024717
these can be  0.022891
little        0.022249

### 12) Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi sa 1 gramy i 2 gramy i 3 gramy i 4 gramy i 5 gramy i POSY

In [17]:
y_test, y_pred = ftr.log_model(df12345p, 0.7,'/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod12345p')
ftr.confu_matrix_for_categories(df12345p, y_test, y_pred)

,China,France,Germany,Italy,Japan,Poland,Russia,Spain,Turkey,UK,USA,Vietnam
China,678,0,0,0,0,0,4,0,3,1,19,0
France,8,271,1,4,4,0,2,3,2,1,11,0
Germany,7,4,210,2,2,2,2,3,1,2,9,2
Italy,0,0,2,219,2,1,4,2,1,0,1,1
Japan,1,1,8,0,212,5,6,0,5,2,15,1
Poland,2,1,2,2,2,224,37,0,1,1,6,2
Russia,2,2,0,0,1,2,370,1,1,0,5,0
Spain,0,5,0,2,1,2,0,373,0,0,2,0
Turkey,1,3,3,0,0,0,1,0,283,0,3,1
UK,7,5,12,2,0,11,4,1,11,439,39,0
USA,9,2,16,1,2,0,5,1,11,38,549,2
Vietnam,6,0,1,1,1,2,3,3,7,2,3,198

In [18]:
ftr.accuracy_and_f1(y_test, y_pred)

Accuracy w modelu: 0.9
F1 score w modelu: 0.9

In [19]:
mod = load('/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod12345p.joblib')
ftr.print_coef_for_predict(mod,df12345p.drop('_country',axis=1).columns, [9], 10)

                 value
epsrc         0.042570
whilst        0.036668
centre        0.026649
emphasise     0.026512
these be      0.025814
to give the   0.024947
summarise     0.023166
in the uk     0.023116
these can be  0.021060
little        0.020806

In [ ]:
## TO DO:

In [12]:
Acc = [0.5,0.57,0.83,0.65,0.87,0.71,0.76,0.84,0.9,0.9,0.9]
F1 = [0.44,0.45,0.81,0.65,0.86,0.67,0.75,0.82,0.9,0.9,0.9]

labels = ['NN1', 'RF1', 'LOG1_b', 'LOG1_b3', 'LOG_tfidf','LOG_p','LOG12','LOG123','LOG12345', 'LOG12345_p']


ACC = go.Scatter(
    x = labels,
    y = Acc,
    name = 'ACC'
)
F1 = go.Scatter(
    x = labels,
    y = F1,
    name = 'F1'
)




fig = tools.make_subplots(rows=2, cols=1)

fig.append_trace(ACC, 1, 1)
fig.append_trace(F1, 2, 1)



fig['layout'].update(height=600, width=900, title='Wykres @Kaja poukładaj sobie może żeby rosło?')
py.iplot(fig, filename='stacked-subplots')

This is the format of your plot grid:
[ (1,1) x1,y1 ]
[ (2,1) x2,y2 ]