# PLIK POMOCNICZY DO RAPORTU
 <br> 
 <br>
 Banecki, Lorenc, Piega, Seliga, Seweryn

In [53]:
import fun_to_raport as ftr
import pandas as pd
from joblib import load

In [48]:
# IMPORTUJEMY WSZYSTKIE ZBIORY:
df1 = pd.read_pickle("45gram_small.pkl")

### Lasy losowe <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi są pojedyncze wyrazy

*UWAGA: Odtąd wszystkimi zmiennymi objaśniającymi będziemy nazywać zmienne, wyczyszczone ze słów charakterystycznych dla krajów*

### Sieci neuronowe <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi są pojedyncze wyrazy

### Lasy losowe <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi są pojedyncze wyrazy

### Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi są pojedyncze wyrazy

In [49]:
df1 = ftr._label_to_country(df1)
y_test, y_pred = ftr.log_model(df1, 0.2,'/home/kasia/Pulpit/LD_dit/language_detector/Python/modele/mod2')
ftr.confu_matrix_for_categories(df1, y_test, y_pred)

/home/kasia/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/home/kasia/.local/lib/python3.6/site-packages/sklearn/linear_model/sag.py:337: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

,China,France,Germany,Italy,Japan,Poland,Russia,Spain,Turkey,UK,USA,Vietnam
China,206,0,0,0,3,0,0,1,2,0,6,1
France,0,62,2,1,2,0,2,4,1,1,9,1
Germany,1,2,39,0,1,0,2,0,0,4,14,1
Italy,0,3,0,44,3,0,2,3,1,1,3,0
Japan,2,1,0,4,42,4,4,1,3,2,9,0
Poland,0,0,1,1,5,60,5,2,0,1,4,0
Russia,2,1,2,1,0,0,103,1,0,3,6,0
Spain,0,7,1,1,0,0,0,99,0,0,2,0
Turkey,1,1,1,0,0,2,0,1,69,1,6,2
UK,1,3,4,0,0,2,1,1,1,83,30,1
USA,1,0,5,1,1,0,0,0,2,28,152,0
Vietnam,3,1,2,2,1,0,1,0,5,1,5,52

In [50]:
ftr.accuracy_and_f1(y_test, y_pred)

Accuracy w modelu: 0.79
F1 score w modelu: 0.77

#### Najwazniejsze zmienne dla przykładowej predykcji

In [58]:
mod = load("mod2.joblib")

In [59]:
ftr.print_coef_for_predict(mod,df1.drop('_country',axis=1).columns, [9], 10)

                        value
at the start of      0.216385
there be number of   0.180309
the way in which     0.167327
the aim of the       0.158552
the reason for this  0.151384
the aim be to        0.149321
be dependent on the  0.126278
the start of the     0.124985
at the expense of    0.113818
the nature of the    0.113289

### Regresja logistyczna <br>
1) Zbudowane na zblilansowanym zbiorze dla wszystkim zmiennych objaśnianych<br>
2) Zmiennymi objaśniającymi są pojedyncze wyrazy


### Regresja logistyczna <br>
1) Zbudowane na zbilansowanym zbiorze dla 3 zmiennych <br>
2) Zmiennymi objaśniającymi są pojedyncze wyrazy

### Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) TF IDF

### Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) POSY

### Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi sa 1 gramy i 2 gramy

### Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi sa 1 gramy i 2 gramy i 3 gramy

### Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi sa 1 gramy i 2 gramy i 3 gramy i 4 gramy i 5 gramy

### Regresja logistyczna <br>
1) Zbudowane na wszystkich zmiennych objaśnianych <br>
2) Zmiennymi objaśniającymi sa 1 gramy i 2 gramy i 3 gramy i 4 gramy i 5 gramy i POSY

In [ ]:
## TO DO:

In [16]:
## 1) TUTAJ NIECH KTOŚ ZBIERZE WARTOŚCI F1 SCORE i ACCURACY I NIECH ZROBI WYKRES W PLOTLY DLA TYCH WARTOŚCI
## 2) WRZUCI KOMENDĘ, ŻEBY NIE POKAZYWAŁY SIĘ ERRORY
## 3) Regresja logistyczna którą wrzcuiłam do zrobienia jeszcze raz, bo Kaja jeszcze zbiór ulepszala